.body-container {
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.event-title-container h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 900;
}

.info-container {
  width: 100%;
  background-color: rgb(90, 24, 24);
  padding: 0 2rem 2rem 2rem;
}

.event-description-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.event-ticket-container {
  background-color: blue;
  width: 30%;
}
