.hero-container {
  display: flex;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 2rem;
  margin: 1.5rem;
}

.hero-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
