.main-footer {
  border-top: 1px solid var(--terciary-color);
  padding: 1rem 0 1rem 0;
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 1.5rem;
}

.logo-footer-container {
  justify-self: start;

  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.nav-footer {
  justify-content: end;
}
