:root {
  --primary-color: #ea2831;
  --secondary-color: #6b7280;
  --terciary-color: #ebebeb;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 0 1rem;
  border-bottom: 1px solid var(--terciary-color);
}

.logo-container {
  justify-self: start;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  h1 {
    font-size: 1.5rem;
  }
}

.header-actions {
  justify-self: end;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-header nav a {
  color: rgb(0, 0, 0);
  margin: 0 15px;
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 5px 10px;
  border: var(--terciary-color) 2px solid;
  border-radius: 20px;

  input {
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    width: 100%;
  }
}

.header-actions button {
  background-color: var(--primary-color);
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
