:root {
  --primary-text-color: #111827;
  --secondary-text-color: #6b7280;
}

.event-card-main {
  border-radius: 8px;

  padding: 1rem;

  width: 100%;
}

.event-card-main img {
  border-radius: 0.5rem;
  width: 100%;
}

h2 {
  margin: 0;
  color: #111827;
}

p {
  color: var(--secondary-text-color);
  margin: 0;
}
