.event-card-link {
  text-decoration: none;
}

.event-card-main {
  display: flow;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 380px;
}

.event-image-container {
  width: 100%;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.image-content {
  display: block;
  width: 100%;

  object-fit: cover;
  aspect-ratio: 16 / 9;
}

h2 {
  margin: 0;
  color: #111827;
  font-size: 1.25rem;
  font-weight: 700;
}

p {
  color: #6b7280;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
}
