.event-list-container {
  margin: 1.5rem;

  h1 {
    margin: 0;
  }
}

.event-list-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
}
