@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f6f6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
